@font-face {
    font-family: 'SF Square Head';
    src: url('SFSquareHead.woff2') format('woff2'),
        url('SFSquareHead.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Square Head';
    src: url('SFSquareHead-BoldItalic.woff2') format('woff2'),
        url('SFSquareHead-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

